[submodule "hirosystems/docs"]
	path = hirosystems/docs
	url = https://github.com/hirosystems/docs
[submodule "stacks-network/docs"]
	path = stacks-network/docs
	url = https://github.com/stacks-network/docs
[submodule "stacksgov/sips"]
	path = stacksgov/sips
	url = https://github.com/stacksgov/sips
